.nav-link .nav-link:active .nav-link:visited {
  color: white;
}

.nav-link:hover{
  transform: scale(1.3);
  color: white;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 0, 0, 0.50);
}

.navBody {
  /* padding: 1vh 5%; */
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.bakeryLogo{
  max-width: 17%;
}