
.nav-bar{
  width: 100% !important;
}

.nav-link .nav-link:active .nav-link:visited {
  color: white;
}

.nav-link:hover{
  transform: scale(1.3);
  color: white;
  rotate: 2deg;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.navbar-collapse{
  flex-grow: 0;
}

.navBody{
  padding: 0% 0%;
}

.blank{
  filter: blur(10px);
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(149, 7, 7, .70);
  padding: 0%;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 5px;
}

.nav-item{
  white-space: nowrap;
}
.rightBlock{
  float: right;
  text-align: right;
  padding-right: 10%;
}

.bakeryLogo{
  /* width max for mobile is 991px */
  width: 10%;
  max-width: 7%;
  /* margin-bottom: .1%; */
}
.bakeryIcon{
  /* width: scale(1.5); */
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 991px) {
  .bakeryLogo {
    min-width: 10%;
    max-width: 25%;
  }  
  .bakeryIcon{
    min-width: 10%;
    max-width: 25%;  
  }
}