.menuBackground{
    background: #8d0505;
    background: -webkit-linear-gradient(0deg, #8d0505 0%, #dc0000 50%, #8d0505 100%);
    background: linear-gradient(0deg, #8d0505 0%, #dc0000 50%, #8d0505 100%);
    color: white;
}

.col-sm{
    margin: 1%;
    background-color: rgba(25, 7, 7, .5);
    color: white;
}



.card {
    flex-direction: row;
    align-items: center;
    transition: all .2s ease-in;
    
    -webkit-box-shadow: 4px 6px 13.5px 8.5px #950b0b;
    -moz-box-shadow: 4px 6px 13.5px 8.5px #950b0b;
    box-shadow: 4px 6px 13.5px 8.5px #950b0b;
  }
  .card:hover {
    transform: scale(1.02);
  }
  .card-title {
    font-weight: bold;
  }
  .card img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  @media only screen and (max-width: 768px) {
    a {
      display: none;
    }
    .card-body {
      padding: 0.5em 1.2em;
    }
    .card-body .card-text {
      margin: 0;
    }
    .card img {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .card img {
      width: 40%;
    }
  }