.footerSandwich{
    background-color: #950707;
    color: white;
}

.footerCenter {
    background-color: #aa0808;
    color: white;
}

.footerLink { 
    transition: all .2s ease-in-out; 
}

.footerLink:hover{
    transform: scale(1.3);
    rotate: 10d;
}